

#dbwords{
	height: 70px;
	width: 200px;
	margin: 0 auto;
	font-size: 29px;
}

#add_words{
	margin-top: 40px;
}

.table-striped{
	height: 200px;
	width: 50%;
	margin: 0 auto;
}

.inh1{
	
	margin: 0 auto;
	padding: 20px;
	font-size: 3em;
	font-weight: bolder;
}

#answer{
	padding-top: 25px;
	color: #000;
	font-size: 15px;
	font-style: italic;

}